:root {
    --light-color1: #F7F0DE;
    --color1: #D9BD8B;
    --color1a: rgb(124, 98, 159);
    --color2: rgb(162, 171, 108);
    --color3: rgb(94,85,94);
    --dark-color: #371F76;
    --black: #1c1c1c;
    --white-color: #fbfcfc;
}
/*GENÉRICOS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
}
body {
    min-height: 100vh;
    background-color: var(--light-color1);
}
p {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
h1 {
    font-family: 'Alice', serif;
    font-weight: normal;
    font-size: 50px;
    color: var(--white-color);
    text-align: center;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}
.textWhite {
    color: var(--white-color);
}

/* NAVEGACIÓN */
header {
    position: fixed;
    display: fixed;
    z-index: 10;
    width: 100%;
}
header::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    z-index: -1;
}
.portada__coverNav {
    height: 80px;
    width: 100vw;
    background-image: url(./assets/63.png);
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.navbar {
    height: 80px;
    max-width: 1200px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.navbar .logo img {
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-top: 5px;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-right: 15px;
}
.navbar a {
    font-size: 20px;
    color: var(--white-color);
}
.navbar a:hover{
    font-size: 22px;
    color: var(--color1);
}
.icono__menu {
    display: none;
}

/* MENU LATERAL*/
.menu__lateral {
    display: none;
    position: absolute;
    height: 0px;
    top: 80px;
    right: 0rem;
    width: 70%;
    background: rgba(0, 0, 0, .1);  
    backdrop-filter: blur(30px);
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}
.menu__lateral.abierto{
    height: 250px;
}
.menu__lateral ul {
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    list-style: none;
    margin: auto 0;
}
.menu__lateral li {
    margin: 5px 0;
}
.menu__lateral ul a {
    color: var(--white-color);
    font-size: 20px;
}
.icono {
    width: 70%;
}

/* PORTADA */
.portada {
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}
.portada__fondo {
    max-width: 1200px;
    height: 100%;
    background-image: url(./assets/corcho.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}
.portada__fondo1 {
    max-width: 1200px;
    height: 100%;
    background-image: url(./assets/foto1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    margin: 0 auto;
}
.portada__fondo2 {
    max-width: 1200px;
    height: 100%;
    background-image: url(./assets/portadaFlores.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.portada__fondo2-texto {
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
}
.portadaNombre{
    margin-top: 160px;
}
.divider {
    width: 300px;
    height: 100px;
    margin: 0 auto;
}


/* BREAK POINTS */

@media only screen and (max-width: 768px) {
    /* NAVBAR */
    .navbar ul {
        display: none;
        position:fixed;
    }
    .navbar .icono__menu {
        display: block;
        margin-right: 20px;
        font-size: 30px;
    }
    .menu__lateral {
        display: block;
        z-index: 999;
    }
    
    /* PORTADA */
    .portada__fondo {
        width: 100%;
        height: 100vh;
        position: static;
        display: flex;
        justify-content: center;
        align-items: end;
        margin: 0 auto;
        background-size: cover;
    }
    .portada__fondo1 {
        width: 100%;
        background-image: url(./assets/foto1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
    }
    .portada__fondo2 {
        width: 100%;
        height: 100%;
        background-image: url(./assets/portada1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
    }
    .portadaNombre {
        font-size: 30px;
    }
    .divider {
        width: 100px;
        height: 40px;
    }
    .portadaFecha {
        font-size: 16px;
    }

}